<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>
    <bean class="com.uv.spring.aoparound.Bean"/>
    <bean id="aspect" class="com.uv.spring.aoparound.MyAspect"/>
    <aop:config>
        <aop:aspect ref="aspect" order="1">
            <aop:around pointcut="within(com.uv.spring.aoparound.*) and @annotation(com.uv.spring.aop.annotation.Limit)" method="around"/>
        </aop:aspect>
    </aop:config>
</beans>